@charset "utf-8";

/*
Author: Trenton Richards
Date: 5/21/19
*/

/*body*/

html {
  padding-left: 3em;
  padding-right: 3em;
  background-image: url(bg.jpg);
}

body {
  color: black;
  font-family: verdana,monospace;
  font-size: .8em;
  background-color: #f4f4f4;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

body .noHTagsInSections {
  font-size: 1.5em;
  clear: left;
  font-weight: bold;
}

/*nav*/
nav {
  clear: both;
  text-align: center;
  margin-bottom: 4em;
}

nav li {
  display: inline-block;
  width: 12%;
  font-weight: bold;
  color: black;
  text-decoration: none;
}


/*images*/
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.historyimage {
  display: block;
  float: right;
  width: 30%;
  margin: 1em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.bigboy {
  display: block;
  float: left;
  width: 30%;
  margin: 1em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


/*mobile/desktop*/
/*M5LO3 Sidebar will appear below on screens >800px*/
/*M5LO5 My sidebar is on the right of my main content section, 400 px wide*/
/*M5LO7 and M5L06. I used flex-direction: row to specify that the items should be stacked horizontally. Should I have used column, the aside would appear under my content*/
@media screen and (min-width: 800px) {
  .flexboxtest {
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
    }

  .navicon {
    display: none;
  }

}

.content {
    -webkit-flex: 1;
    flex: 1;
    padding: 1em;
}

.sidebar {
    -webkit-flex: 0 1 400px;
    flex: 0 1 400px;
    padding: 1em;
}


/*M5LO4 Hamburger appears in top left when screen is below 800px; navbar appears when hovered over. I have issues with this one but it's working somehow..*/
@media screen and (max-width: 799px) {
  ul {
    display: none;
    width: 1%;
    padding: 9%;
    text-align: left;
    background-color: white;
  }

  .navicon {
      display: block;
      width: 9%;
      position: fixed;
      top: 0;
      left: 0;
  }

  #navicon:hover+ul, ul:hover{
		display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}


/*tables*/
/*M6LO7 I formatted my table to have a blue header, gray body, and a black outline.*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.1em;
}

th {
  font-size: 1.5em;
  font-weight: bold;
  background-color: blue;
  color: white;
}

.tableImage {
  width: 90%;
}

.spanTwo {
  width: 30%;
}

table tbody {
  background-color: lightgray;
}
